.hoebuild {
    &__info {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media(max-width: 458px) {
            justify-content: center;
        }

        &-item {
            display: flex;
            align-items: center;

            &-title {
                width: 295px;
                font-size: 33px;
                font-weight: 700;

                @media(max-width:1200px) {
                    width: 258px;
                    font-size: 29px;
                }

                @media(max-width: 866px) {
                    width: 200px;
                    font-size: 22px;
                }

                &-size {
                    font-weight: 300;
                }
            }

            &-img {
                margin-top: 50px;
                margin-left: 10px;

                @media(max-width: 866px) {
                    width: 100px;
                    margin-top: 30px;
                }

                @media(max-width: 458px) {
                    display: none;
                }
            }

            &-text {
                width: 650px;
                font-size: 16px;
                font-weight: 400;

                @media(max-width:1200px) {
                    width: 475px;
                    font-size: 14px;
                }

                @media(max-width: 458px) {
                    display: none;
                }
            }
        }
    }
}